html,
body {
}

body {
}

@media (prefers-color-scheme: dark) {
  body {
  }
}

a {
}

* {
  box-sizing: border-box;
}

h1 {
}

html: {
  webkittextsizeadjust: 100%;
}

body .disable-scroll {
  overflow: hidden;
}

img {
  borderstyle: none;
}

iframe {
  border: none;
}

pre {
  /* fontFamily: theme.fonts.monospace, */
  fontsize: 1em;
}

[hidden] {
  display: none;
}

#@TODO: fix ::selection {
  /* color: theme.colors.text, */
  /* backgroundColor: theme.colors.highlight, */
}

a {
  transition: color 200ms ease 0s;
  color: inherit;
}
